
body{
  background: rgb(9, 30, 39)
}

h1,h2,h3,h4,h5,p{
  color: white
}

#details{
  background:rgb(23, 73, 95);
}

table {
    border-collapse: collapse;
    width: 100%;
    -webkit-text-fill-color : white;
  }

  
  th, td {
    text-align: left;
    padding: 6px;
    background-color:  rgb(40, 126, 163);
  }
  
  /* tr:nth-child(even){background-color:  rgb(43, 136, 177)} */
  
  th {
    background-color: rgb(23, 73, 95);
    color: white;
  }
  
  
  a:link, a:visited {
    background-color: rgb(18, 68, 90);
    color: white;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    width: max-content;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(4, 15, 20);
  }

  ul {
    -webkit-text-fill-color: white;
  }/* 
  ul li {
    background: rgb(187, 230, 214);
    margin: 0px;
  } */